body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}
nav {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid oklch(80% 3% 200);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 6px;
}
:root {
  --color-accent: oklch(80% 3% 200);
}
html {
  accent-color: var(--color-accent);
}
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 0% h);
  padding-bottom: 6px;
}

/* Style for contact page*/
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label {
  display: grid;
  grid-template-columns: subgrid;
}
button {
  grid-column: 1 / -1;
}

/* Style for projects page*/
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
body[data-page="projects"] h2 {
  margin: 0;
}
h1 {
  font-size: 300%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* customed design for resume page*/
body[data-page="resume"] h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
body[data-page="resume"] h2 {
  font-size: 1.8rem;
  border-bottom: 3px solid #ddd;
  padding-bottom: 5px;
  margin-top: 30px;
}
body[data-page="resume"] h3 {
  font-size: 1.4rem;
  color: #444;
  margin-bottom: 20px;
}
body[data-page="resume"] p {
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
}
body[data-page="resume"] p a {
  color: #007bff;
  text-decoration: none;
}
body[data-page="resume"] p a:hover {
  text-decoration: underline;
}
body[data-page="resume"] section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}
body[data-page="resume"] section article p {
  text-align: left;
  margin: 0;
}
body[data-page="resume"] article {
  background: #eeeeee69;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
body[data-page="resume"] article ul {
  padding-left: 20px;
}
body[data-page="resume"] article time {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  margin-bottom: 0px;
}
body[data-page="resume"] article .location {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}
body[data-page="resume"] ul {
  padding-left: 20px;
  line-height: 1.5;
}